{{define "main"}}

<!-- ======= Hero Section ======= -->
<section
  id="innerhero"
  class="d-flex justify-content-center align-items-center"
  style="background-image: url({{.Params.img}})"
>
  <div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
      <h2>{{.Title}}</h2>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <!-- F.A.Q List 1-->
        <div class="accordion accordion-flush" id="faqlist1">
          <!--1-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-1"
              >
                Who can run a business in NZ?
              </button>
            </h2>
            <div
              id="faq-content-1"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                The following people can own/run a business in NZ:

                <ul>
                  <li>
                    Anyone who has a right to live permanently in New Zealand.
                  </li>
                  <li>Holders of LTBV.</li>
                  <li>Holders of partnership work visa.</li>
                </ul>
              </div>
            </div>
          </div>

          <!--2-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-2"
              >
                Can I get residence by running a business in NZ?
              </button>
            </h2>
            <div
              id="faq-content-2"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                Once you have been successfully running the said business for
                some time then you may be eligible to apply for residence under
                the Entrepreneur Policy.
              </div>
            </div>
          </div>

          <!--3-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-3"
              >
                Who can authorise a statutory declaration?
              </button>
            </h2>
            <div
              id="faq-content-3"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                A statutory declaration can be undertaken by a Lawyer, Notary
                Public, Justice of the Peace, or a court official. There is no
                set requirement on what type of IELTS test you need to sit for
                the Immigration New Zealand. You can sit either the Academic
                IELTS or the General IELTS test as both types are accepted by
                Immigration New Zealand.
              </div>
            </div>
          </div>

          <!--4-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-4"
              >
                Can I apply for a Post Study Work visa?
              </button>
            </h2>
            <div
              id="faq-content-4"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                Yes, you can apply for a Post Study Work visa if you have
                successfully completed, in New Zealand, a qualification that
                qualifies for points under the Skilled Migrant Category.
              </div>
            </div>
          </div>

          <!--5-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-5"
              >
                How can a partner of NZ citizen/resident live in NZ permanently?
              </button>
            </h2>
            <div
              id="faq-content-5"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                If you wish to join your partner permanently in NZ, you will
                need to obtain a residence visa under the partnership category.
              </div>
            </div>
          </div>

          <!--6-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-6"
              >
                What is NZQA ?
              </button>
            </h2>
            <div
              id="faq-content-6"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                New Zealand Qualifications Authority ( NZQA ) is the Government
                agency responsible for quality assurance of qualifications.
              </div>
            </div>
          </div>

          <!--7-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-7"
              >
                What health requirements must I meet?
              </button>
            </h2>
            <div
              id="faq-content-7"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                Applicants for visas and permits for New Zealand must have an
                acceptable standard of health. To show that you have an
                acceptable standard of health, you may have to complete a
                medical certificate, and submit it with your application. There
                are two different medical certificates:

                <ul>
                  <li>Medical and Chest X-ray Certificate (INZ 1007)</li>
                  <li>Temporary Entry X-ray Certificate (INZ 1096).</li>
                </ul>
              </div>
            </div>
          </div>

          <!--8-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-8"
              >
                Do I need to send any documents with my EOI?
              </button>
            </h2>
            <div
              id="faq-content-8"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                No, you do not. INZ will ask for them if they need any documents
                are needed at a later stage.
              </div>
            </div>
          </div>

          <!--9-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-9"
              >
                What is the Long Term Skill Shortage List?
              </button>
            </h2>
            <div
              id="faq-content-9"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                The Long Term Skill Shortage List is a list of occupations that
                are in critical or absolute shortage all over New Zealand. This
                list is commonly used in the Work to Residence policy and
                Skilled Migrant (Expressions of Interest) policy. In the Skilled
                Migrant Category, you may claim bonus points if your skilled
                employment, recognised work experience, and/or recognised
                qualification is in the Long Term Skill Shortage List.
              </div>
            </div>
          </div>

          <!--10-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-10"
              >
                Do I need a police certificate ?
              </button>
            </h2>
            <div
              id="faq-content-10"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                All applicants aged 17 years or over who are working, visiting,
                or studying in New Zealand for longer than two years in total
                are required to provide a police certificate. All residence
                applicants aged 17 years or over are required to provide police
                certificates at the time a residence application is lodged.
                <br />
                <br />
                These certificates need to be less than 6 months old at the time
                the application is lodged.
              </div>
            </div>
          </div>

          <!--11-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-11"
              >
                What is an “open work visa”, and how do I get one?
              </button>
            </h2>
            <div
              id="faq-content-11"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                Open work visa is one that does not require an offer of
                employment at the application stage and allows employment for
                any employer. These types of work visas are only available to
                specific applicants, eg. New Graduates, Partners, Spouses, and
                Working holiday applicants.
              </div>
            </div>
          </div>

          <!--12-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-12"
              >
                As a visitor, can I apply for a different visa while I’m in NZ?
              </button>
            </h2>
            <div
              id="faq-content-12"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                Yes, you may apply for a work, student, or residence visa, while
                you are in NZ as a visitor.
              </div>
            </div>
          </div>

          <!--13-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-13"
              >
                Does my Occupation require a New Zealand Registration?
              </button>
            </h2>
            <div
              id="faq-content-13"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                In New Zealand, registration is required by law in order to
                undertake employment in certain occupations. eg. Teachers,
                Nurses, Electricians, etc.
              </div>
            </div>
          </div>

          <!--14-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-14"
              >
                What is the Immediate Skill Shortage List?
              </button>
            </h2>
            <div
              id="faq-content-14"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                The Immediate Skill Shortage List is a list of occupations that
                have a current shortage of in particular areas of New Zealand.
                This list is updated every six months. If a NZ employer offers
                you a job that is listed as a shortage in your area, your
                application for work permit/visa will be prioritized. This list
                only applies to temporary work policy.
              </div>
            </div>
          </div>

          <!--15-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-15"
              >
                How can I become a New Zealand resident?
              </button>
            </h2>
            <div
              id="faq-content-15"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                To become a resident of NZ, you must meet at least one residence
                category available in the govt. residence program. There are
                specific requirements listed for each of these categories, and
                beside those, each person applying for residence (which includes
                partners and dependant children as well) must also meet health
                and character requirements.
              </div>
            </div>
          </div>

          <!--16-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-16"
              >
                Do I need a New Zealand driver’s license to drive in New Zealand
                ?
              </button>
            </h2>
            <div
              id="faq-content-16"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                You can use your overseas or international driver’s license for
                up to 12 months in New Zealand. After a year, you’ll need to
                apply for a New Zealand driver’s license.
              </div>
            </div>
          </div>

          <!--17-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-17"
              >
                Do I meet the Skilled Migrant Category for residence ?
              </button>
            </h2>
            <div
              id="faq-content-17"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                The Skilled Migrant Category is based on points you can claim
                for your age, qualifications, work experience, employment in NZ,
                etc. There are certain requirements that must be met in order
                for you to claim those points. The minimum points you need to
                submit an EOI is 100.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End F.A.Q Section -->

<!-- ======= Cta Section ======= -->
{{ partial "cta.html"}} {{end}}
