{{define "main"}}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-end">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text text-center">
        <h2>Expert Migration Services with Pravasi Consultants.</h2>
        <p>
          Expert guidance for migration. From visas to residency, we streamline
          the process for a smooth transition.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!--Content-->
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <hr />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam
          reiciendis voluptatum minus qui illo, aliquid odio natus repellendus
          similique libero laboriosam nemo excepturi. Id, eveniet!
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore
          ullam nostrum possimus voluptates quidem dolore debitis ducimus qui,
          quae magni nemo, ipsum eos. Quae quaerat quam assumenda ipsa pariatur
          architecto modi animi itaque nisi? Doloremque, ipsam nulla nisi sit
          recusandae sint ut rerum aliquam. Illo, exercitationem necessitatibus!
          Officiis, delectus.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="/assets/img/hero-bg.png" alt="Png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<!--End Content-->

<!-- ======= Cta Section ======= -->
{{ partial "cta.html"}}
<!-- End Cta Section -->

{{end}}
