{{define "main"}}
<!-- ======= Hero Section ======= -->
<section
  id="innerhero"
  class="d-flex justify-content-center align-items-center"
  style="background-image: url({{.Params.img}})"
>
  <div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
      <h2>{{.Title}}</h2>
    </div>
  </div>
</section>
<!-- End Hero -->

<!--Content-->
<section class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-12">
        <article>{{.Content}}</article>
      </div>
    </div>
  </div>
</section>

<!-- ======= Cta Section ======= -->
{{ partial "cta.html"}}
{{end}}
