<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <a href="/"
        ><img src="/assets/img/logo.png" alt="Logo" class="img-fluid"
      /></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <!--New zealand-->
        <li class="dropdown">
          <a href="/new-zealand"
            ><span>New Zealand</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="/visa-categories">Visa categories</a></li>
            <li>
              <a href="/new-zealand/miscellaneous-services"
                >Miscellaneous services</a
              >
            </li>
            <li><a href="/testimonials">Testimonials</a></li>
            <li><a href="/faq">Frequently Asked Questions</a></li>
          </ul>
        </li>

        <!--Australia-->
        <li class="dropdown">
          <a href="/australia"
            ><span>Australia</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="/australia/student-visa">Student Visa</a></li>
          </ul>
        </li>

        <!--Canada-->
        <li class="dropdown">
          <a href="/canada"
            ><span>Canada</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="/canada/student-visa">Student Visa</a></li>
          </ul>
        </li>

        <!--England-->
        <li class="dropdown">
          <a href="/england"
            ><span>England</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="/england/student-visa">Student Visa</a></li>
          </ul>
        </li>

        <!--Germany-->
        <li class="dropdown">
          <a href="/germany"
            ><span>Germany</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="/germany/student-visa">Student Visa</a></li>
          </ul>
        </li>
        <li><a href="/about-us">About Us</a></li>

        <li><a class="getstarted" href="/contact-us">Contact Us</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
