<section class="counter">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 d-flex justify-content-center">
      <div class="count-box py-3">
        <div class="icon">
          <i class="bi bi-emoji-smile"></i>
          <span
            data-purecounter-start="0"
            data-purecounter-end="18"
            class="purecounter"
            >0</span
          >
        </div>
        <p>Years of experience</p>
      </div>
    </div>

    <div class="col-lg-6 d-flex justify-content-center">
      <div class="count-box py-3">
        <div class="icon">
          <i class="bi bi-clipboard-check"></i>
          <span
            data-purecounter-start="0"
            data-purecounter-end="120"
            class="purecounter"
            >0</span
          >
        </div>
        <p>Application Approved</p>
      </div>
    </div>
  </div>
</section>
